/problema1/problema1/nbproject/private/
/problema2/problema2/nbproject/private/
/problema3/JavaApplication30/nbproject/private/
/problema1/problema1/build/
/problema2/problema2/build/
/problema3/JavaApplication30/build/
